body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: white;
  }
  

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
}

header a {
    text-decoration: none;
    color: black;
}

header img {
    height: 12vw;
}

header ul img {
    height: 1.6rem;
    width: auto;
    margin: 0.5rem;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
  }

  header li {
    color: white;
    list-style: none;
    font-size: 1rem;
    margin: 0 0.25rem;
  }


  .top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, white, white);
    padding: 1rem;
    width: 100vw;
}

.hero {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3vw;
    border-radius: 0.5rem;
    box-shadow: 0.35rem 0.35rem 0.6rem rgba(0, 0, 0, 0.65); /* Box shadow on the right bottom side */
}

.hero h1 {
    color: white;
    font-size: 1.75rem;
}

.hero-header {
    display: flex;
    align-items: center;
}

.hero-header h1 {
    font-size: 1rem;
    color: white;
}

.hero img {
    margin: 1.1vh;
    height: auto;
    width: 70%;
}

.hero-text {
    margin: 0.1vw;
    width: 90%;
    color: white;
    align-items: center;
}


.main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    overflow-x: hidden;

}



.title {
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}


.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img { 
    margin: 3vh;
    max-height: 50vh;
    max-width: 35vw;
    height: auto;
}


footer {
    display: flex;
    color: black;
    background-color: rgba(0,0,0,.2);
    width: 100%;
    margin-top: 3vh;
    padding: 0 2vh;
}

footer ul img {
    height: 1.5rem;
    width: auto;
    margin: 0.5rem;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

footer li {
    list-style: none;
    font-size: 1rem;
  }

footer a {
    text-decoration: none;
    color: black;
}
